<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Champion Overview
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="pull-left left"></div>
					<div class="pull-right right"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->
<script>
	$('#myModal').modal('show');
		
	var this_champ = window.champions[champ];
	
	$('.modal-title').html(this_champ.key + " - Champion Overview");
	$('.modal-body .left').html(
		'<p>HP - '
		+ this_champ.stats.hp +'</p>'
		+ '<p>Attack damage - '
		+ this_champ.stats.attackdamage +'</p>'
		+ '<p>Range - '
		+ this_champ.stats.attackrange +'</p>'
		+ '<p>Armor - '
		+ this_champ.stats.armor +'</p>'
		+ '<p>Movement speed - '
		+ this_champ.stats.movespeed+'</p>'
		+ '<p><select class="select_compare"></select><button type="button" class="btn btn-primary">Compare</button></p>'
	);

	$('.modal-body .left').prepend('<p><img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/'+window.champ+'.png" /></p>');
	
	var champ_select = $('.select_compare').selectize({
		valueField: 'id',
		labelField: 'id',
		searchField: ['id', 'text'],
		options: <%- JSON.stringify(champ_obj.c_arr) %>
	});
	
	window.selectize = champ_select[0].selectize;

	$('.modal-body button').off('click');
	$('.modal-body button').on('click', function (){
		compare(window.selectize.getValue());
	});

	$('#myModal').on('hide.bs.modal', function (e,t,g){
		$('.modal-body .left').html('');
		$('.modal-body .right').html('');
	});
</script>