<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
</head>
<body class="container-fluid">
	<nav class="navbar navbar-fixed-top navbar-light bg-faded">
		<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
			&#9776;
		</button>
		<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
			<a class="navbar-brand" href="/">LoL Node</a>
			<ul class="nav navbar-nav">
				<!--<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>-->
			</ul>
			<div class="form-inline pull-xs-right">
				<a href="#"><span class="label label-pill label-info label_tags">Support</span></a>
				<a href="#"><span class="label label-pill label-danger label_tags">Fighter</span></a>
				<a href="#"><span class="label label-pill label-success label_tags">Tank</span></a>
				<a href="#"><span class="label label-pill label-warning label_tags">Assassin</span></a>
				<a href="#"><span class="label label-pill label-success label_tags">Melee</span></a>
				<a href="#"><span class="label label-pill label-danger label_tags">Marksman</span></a>
				<a href="#"><span class="label label-pill label-warning label_tags">Mage</span></a>
				<a href="#"><select class="form-control champ_search"></select>
				<a class="btn btn-primary-outline btn_champ_search" type="submit">Search</a>
			</div>
		</div>
	</nav>
   <!-- <header><h1>LoL Node</h1></header>-->

    <main>
		<div class="row main_view">
			<%- list %>
		</div>
		<div id="overview_modal"></div>
    </main>
	
    <footer>
        <% include partials/footer %>
    </footer>
	
    <script>
	window.champions = <%- JSON.stringify(champs_obj) %>

	var champ_search = $('.champ_search').selectize({
		valueField: 'id',
		labelField: 'id',
		searchField: ['id', 'text'],
		options: <%- JSON.stringify(champ_obj) %>
	});

	function champ_modal(the_champ){
		$.ajax({
			url: "/champ_overview",
			method: "GET",
			dataType: "html"
		}).done(function(data) {
			$('#overview_modal').html(data);
		});
	};

	
	$('.label_tags').off('click');
	$('.label_tags').on('click', function (){

		if ( $(this).hasClass('is_active') ){
			$('.main_view').html('<%- list %>');
			is_active = false;
			$(this).removeClass('is_active');
		}else{
			if ( $('.is_active').length > 0 ){
				// if an old is_active class is found remove it first
				$('.is_active').removeClass('is_active');
			}
			is_active = true;
			$(this).addClass('is_active');
			
			var combat_type = this.textContent,
			tmp_array = [];
			
			$.each(champions, function (index, value){
				if (champions[index].tags.indexOf(combat_type) > -1){
					tmp_array.push(index);
				}
			});
			
			$.ajax({
				url: "/combat_type/" + combat_type,
				method: "GET",
				dataType: "html"
			}).done(function (data){
				$('.main_view').html(data);
			});
		}
		
	});
	
	function add_events(){
		$('.champ_img').off('click');
		$('.champ_img').on('click', function (){
			window.champ = $(this).attr('id');
			champ_modal(champ);
		});
	};
	
	add_events();
	
	$('.btn_champ_search').off('click');
	$('.btn_champ_search').on('click', function () {
		window.champ = champ_search[0].selectize.getValue();
		champ_modal(champ);
	});

	function compare (champ){
		//$('.modal-title').html(this_champ.key + " - Champion Overview");
		var compare_champ = window.champions[champ];

		$('.modal-body .right').html(
			'<p>HP - '
			+ compare_champ.stats.hp +'</p>'
			+ '<p>Attack damage - '
			+ compare_champ.stats.attackdamage +'</p>'
			+ '<p>Range - '
			+ compare_champ.stats.attackrange +'</p>'
			+ '<p>Armor - '
			+ compare_champ.stats.armor +'</p>'
			+ '<p>Movement speed - '
			+ compare_champ.stats.movespeed+'</p>'
		);

		$('.modal-body .right').prepend('<p><img src="https://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/'+champ+'.png" /></p>');
	};
	</script>
</body>
</html>